body {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 7em;
  font-family: cursive;

}

h2 {
  font-family: fantasy;

}

h3 {
  font-family: fantasy;
  color: #6f7277;
}

.navButton {
  text-align: center;
}

.button-link {
  padding-left: 375px;
  padding-bottom: 10px;
}
